.Headerbar{
    background-color: black;
    padding-bottom: 25px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
}
.logolinktext{
    color: red;
    font-size: 30px;
    line-height: 30px;
}
.logolinktext:hover{
    color: red;
    text-decoration: none;
    font-size: 40px;
}
.Headerlogobillede{
    width: 70px;
    height: 50px;
    margin-right: 10px;
    margin-top: 20px;
}
.logoutknap{
    color: black;
    background-color: red;
    font-size: 20px;
    border-color: red;
    border-width: thin;
}
.logoutknap:hover{
    color: red;
    text-decoration: none;
    border-width: thin;
    background-color: black;
    border-color: black;

}
.Pullleft{
    float: left;
    color: red;

}

.Pullright{
    float: right;
    color: red;
}


html{
    background-color:#504c4c;
}
body{
    background-color:#504c4c;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25px;
    margin-left: 25px;
    color: red;
}
.Forummodul{
    background-color: #363333;
    color:black;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 25px;
}

.Kategorimodul{
    background-color: #363333;
    color:black;
    padding: 10px;
}

.Forumpad{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.Forummargin{
    margin-bottom: 10px;
}

.Forumtable{
    width: 100%;
    height: auto;
    border: 2px solid black;

}

.Forumtable th{
    padding: 5px;
}

.Forumtable td{
    padding: 5px;
}

a{
    color: red;
    text-decoration: none;
    margin-right: 20px;
}

a:hover{
    font-weight: 500;
    text-decoration: none;
}

.Forumtable a{
    color: red;
}

h1{
    font-size: 1.7em;
    color: red;
}

h2{
    font-size: 1.5em;
    color: red;
}

h3{
    font-size: 1.3em;
    color: red;
}

h4{
    font-size: 1.1em;
    color: red;
}


.red{
    color: red;
}

.Newdiscussiontext{
    width: 100%;
    height: auto;
}