.Headerbar{
    background-color: black;
    padding-bottom: 25px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
    height: auto;
}
.logolinktext{
    color: red;
    font-size: 30px;
    line-height: 30px;
}
.logolinktext:hover{
    color: red;
    text-decoration: none;
    font-size: 40px;
}
.Headerlogobillede{
    width: 70px;
    height: 50px;
    margin-right: 10px;
    margin-top: 20px;
}
.logoutknap{
    color: black;
    background-color: red;
    font-size: 20px;
    border-color: red;
    border-width: thin;
}
.logoutknap:hover{
    color: red;
    text-decoration: none;
    border-width: thin;
    background-color: black;
    border-color: black;

}
.Pullleft{
    float: left;

}

.Pullright{
    float: right;
}


html{
    background-color:#202020;
}
body{
    background-color:#202020;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 25px;
    margin-left: 25px;
    color: red;
}
.Forummodul{
    background-color: darkred;
    color: red;
    padding: 10px;
    margin-bottom: 10px;
}

.Forumbaggrund{

}

a{
    color: red;
    text-decoration: none;
    margin-right: 20px;
}

a:hover{
    font-weight: 500;
    text-decoration: none;
}

h1{
    font-size: 1.7em;
    color: black;
}

h2{
    font-size: 1.5em;
    color: black;
}

h3{
    font-size: 1.3em;
    color: black;
}

h4{
    font-size: 1.1em;
    color: black;
}